<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LatexBuddy - Check</title>
    <style>
        {% include "static/modern-normalize.css" %}
        {% include "static/main_style.css" %}
        {% include "static/flask_index_style.css" %}
        {% include "static/flask_collapsible_style.css" %}
    </style>
</head>
<body>
    <header>
        <h1>
            {% include "static/logo.svg" %}
        </h1>
    </header>
    <form enctype="multipart/form-data" action="/check" method="POST">
        <div class="inline-form-element monospaced">
            <label class="label_text">Select the file you want to be checked:</label>
            <input class="file_input" type="file" name="file" multiple=""/>
        </div>
        <input class="submit_input" type="submit" value="Start Check"/>
        <div class="collapsible monospaced">
            <button type="button" class="collapsible-toggle">Configuration options</button>
            <div class="collapsible-content">
                <div class="inline-form-element">
                    <label>selected whitelist:</label>
                    <select class="list_selector" name="whitelist_id">
                        <option value="[none]">[none]</option>
                        {% for whitelist_id in whitelist_ids %}
                            <option value="{{ whitelist_id }}">{{ whitelist_id }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="inline-form-element">
                    <label>language:</label>
                    <input class="lang_input" type="text" name="language">
                </div>
                <div class="inline-form-element">
                    <label>select modules (comma-separated list of names):</label>
                    <select class="module_selector" name="module_selector_type">
                        <option value="blacklist">blacklist</option>
                        <option value="whitelist">whitelist</option>
                    </select>
                    <input class="module_input" type="text" name="module_selector">
                </div>
            </div>
        </div>
    </form>
    <form enctype="multipart/form-data" action="/whitelist-api/upload" method="POST">
        <div class="collapsible monospaced">
            <button type="button" class="collapsible-toggle">Upload your whitelist</button>
            <div class="collapsible-content">
                <div class="inline-form-element">
                    <label>select additional whitelist:</label>
                    <input style="margin-left: 4em" class="submit_input" type="submit" value="Upload"/>
                    <input style="margin-left: 4em" class="file_input" type="file" name="whitelist-file"/>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        let collapsibles = document.getElementsByClassName("collapsible")
        let i;

        for (i = 0; i < collapsibles.length; i++) {

            let possibleButtons = collapsibles[i].getElementsByClassName("collapsible-toggle");

            if (possibleButtons.length === 0) {
                continue;
            }

            possibleButtons[0].addEventListener("click", function () {

                this.classList.toggle("active");

                let contentFrames = this.parentNode.getElementsByClassName("collapsible-content");

                let j;
                for (j = 0; j < contentFrames.length; j++) {
                    if (contentFrames[j].style.maxHeight) {
                        contentFrames[j].style.maxHeight = null;
                    } else {
                        contentFrames[j].style.maxHeight = contentFrames[j].scrollHeight + "px";
                    }
                }
            })
        }
    </script>
</body>
</html>
