body {
    font-size: 14px;
    padding: 1em 2em 0;
}

pre {
    background-color: #eeeeee;
    padding: 1em;
    border-radius: .5em;
    white-space: pre-wrap;
}

.line-number {
    font-size: 12px;
}

.error-description {

}

.error-id {
    font-size: 12px;
}

.error > ul {
    list-style: none;
    padding-left: 10px
}


