body {
    font-size: 14px;
    padding: 1em 2em 0;
}

pre {
    background-color: #eeeeee;
    padding: 1em;
    border-radius: .5em;
    white-space: pre-wrap;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

@media (max-width: 1200px) {
    main {
        flex-wrap: wrap;
    }
}

main > section {
    padding: .5em;
}

#file-contents {
    flex: 1 0 80ch;
}

#errors-list {
    flex: 0 1 auto;
}

.line-number {
    font-size: 12px;
}

.error-description {

}

.error-id {
    font-size: 12px;
}

.error > ul {
    list-style: none;
    padding-left: 10px
}


