.monospaced {
    font-family: ui-monospace,
    SFMono-Regular,
    Consolas,
    'Liberation Mono',
    Menlo,
    monospace;
}

body {
    font-size: 14px;
    padding: 1rem 2rem 0;
}

header h1 > svg {
    height: 2.5em;
}

pre {
    background-color: #eeeeee;
    padding: 1rem;
    border-radius: .5rem;
    white-space: pre-wrap;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

@media (max-width: 1200px) {
    main {
        flex-wrap: wrap;
    }
}

main > section {
    padding: .5rem;
}

#file-contents {
    flex: 1 0 min(100%, 80ch);
}

#problems-list {
    flex: 0 1 80ch;
}

.problem {
    padding: .666rem 0;
    border-bottom: 1px solid #eeeeee;
}

.problem-context {
    margin: 0 0 .5em;
}

.problem-text {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: .07em;
}

.under {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.problem.is-none .problem-text,
.under.is-none {
    text-decoration-color: transparent;
}

.problem.is-info .problem-text,
.under.is-info {
    text-decoration-color: steelblue;
}

.problem.is-warning .problem-text,
.under.is-warning {
    text-decoration-color: orange;
}

.problem.is-error .problem-text,
.under.is-error {
    text-decoration-color: red;
}

.problem p {
    margin: 0 0 .5rem;
}

.problem p:last-child {
    margin: 0;
}

.problem-meta {
    font-size: smaller;
    font-weight: normal;
}

.spelling {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: .07em;
}

.grammar {
    background-color:#FFFF00;
}

.latex {
    background-color:#00bdbb;;
}
@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #111;
        color: #eee;
    }

    svg .color-primary {
        fill: #eee;
    }

    pre {
        background-color: #222;
    }

    .problem {
        border-bottom-color: #222;
    }
}
