.roboto-font {
	 font-family: 'Roboto', sans-serif;
}
 button {
	 outline: none;
	 height: 30px;
	 text-align: center;
	 width: 30px;
	 border-radius: 40px;
	 background: #fff;
	 border: 2px solid #009694;
	 color: #009694;
	 letter-spacing: 1px;
	 text-shadow: 0;
	 font-size: 12px;
	 font-weight: bold;
	 cursor: pointer;
	 transition: all 0.25s ease;
}
 button:hover {
	 color: white;
	 background: #009694;
}
 button:active {
	 letter-spacing: 2px;
}
 button:after {
	 content: "w";
}
 .onclic {
	 border-color: #bbb;
	 border-width: 3px;
	 font-size: 0;
	 border-left-color: #009694;
	 animation: rotating .5s 0.125s linear infinite;
}
 .onclic:after {
	 content: "";
}
 .onclic:hover {
	 background: #009694;
	 background: white;
}
 .validate {
	 font-size: 13px;
	 color: white;
	 background: #009694;
}
 .validate:after {
     font-family:'FontAwesome';
	 content: "\f00c";
}
 @keyframes rotating {
	 from {
		 transform: rotate(0deg);
	}
	 to {
		 transform: rotate(360deg);
	}
}
